[2014-06-02 23:09] acruise opened #2 "User's persistent failure to acknowledge messages results in endless "state=Committing msg=StateTimeout drained=0 streams=1""
Hi there,

I've been using akka-kafka 0.0.4 in a little prototype project, and have found that after an initial burst of messages being processed successfully, I get a seemingly endless succession of these lines in my log, about every 1020 milliseconds.  It's entirely possible I'm just doing it wrong, but my use case is really straightforward, so I doubt it. :)

[2014-06-27 17:28] acruise opened #3 "actor name [connectorFSM] is not unique!"
Hi there,

I'm getting this after hours-to-days of uptime.  It looks like the connector is getting recreated without having been stopped first.  But, there's an inherent race condition between actor lifecycle and namespace maintenance, so even if the actual problem is fixed, you can still see this.  What I've done in the past is "uniquify" actor names by doing this:

val rnd = new scala.util.Rando

[2014-06-30 18:53] #2 closed, assigned to nobody

[2014-07-11 23:24] jbweeks opened #4 "Feature Request: Topic Filter wildcard whitelist & blacklist"
Expose the following Kafka API from ConsumerConnector into Akka-kafka:

[code]

[2014-07-12 19:04] #3 closed, assigned to nobody

[2014-07-12 19:05] #4 closed, assigned to nobody

[2014-07-17 17:52] jbweeks opened #8 "Feature Request: option to return message metadata (e.g. msg key) to consumer"
Right now lines 210-211 in Actors.scala look like:

Lines 210-211 in Actors.scala:
      /\* ok to process, and msg available */
      case Event(Continue, outstanding) if hasNext() =>
        val msg = msgIterator.next().message()

Our producers are encoding keys with messages, we'd like the consumers to be able to access, but right now, the akka-kafka framework doesn't pass the meta-data up, AFA

[2014-07-23 20:37] jbweeks opened #10 "Race issues with StreamFSM when sending a batch of Processed messages"
Most of what we do with Akka-Kafka involves many thousands of messages a second, and these messages are sorted into categories, and processed in bulk into various backend sinks.

We started to work with the back-pressure support in akka-kafka and rather than just return with a StreamFSM.Processed acknowledgement immediately, we started to tie these to the success of the backend batch operations.

[2014-07-23 22:26] #8 closed, assigned to nobody

[2014-07-30 19:54] xelax opened #11 "how do I configure the offset?"
How do I tell the consumer whether to start from the oldest available message or from the newest available offset?

[2014-07-31 07:20] #11 closed, assigned to nobody

[2014-08-13 15:42] #10 closed, assigned to nobody

[2014-08-13 15:59] jbweeks opened #13 "(low priority) Coda Hale Metrics for topic offset, stream metrics"
Although we are currently using: http://quantifind.com/KafkaOffsetMonitor/

...it would be ideal if support for Coda Hale Metrics was supported in akka-kafka, so we could track:
- offset status for each topic (e.g. ratio of current consumer offset to topic head)
- consumption rate for each topic
- latency of fetch vs commit for each batch for each topic
- histogram of batch sizes per topic
- etc.

[2014-08-14 08:39] joshjdevl opened #14 "consumer read from specific partition"
Hi,

Suppose I have N partitions. I would like to have X different consumer threads ( X < N) read from a specified set of partitions. How can I achieve this?

Thanks

[2014-08-14 23:00] #14 closed, assigned to nobody

[2014-10-02 02:27] tarmath opened #15 "Specify receiver as Props instead of ActorRef?"
Hello!

Maybe there's something I don't understand as I am fairly new to the world of Akka, but wouldn't it be wiser to supply the helper methods with a way to instantiate the Actor that processes the messages, so that each StreamFSM actor can create their own rather than all send to the same ActorRef, thus creating possibly some sort of bottleneck, wherever message processing can be a long-runnin

[2014-10-07 15:20] eodgooch opened #16 "could you publish 0.0.8-SNAPSHOT"
I have this locally published but it would be nice to publish this snapshot to sonatype if it is ready.

[2014-10-07 17:45] #15 closed, assigned to nobody

[2014-10-07 17:45] #16 closed, assigned to nobody

[2014-10-21 13:52] tnolet opened #17 "Implementing topic offset"
Hi,

I would love to be able to set the initial offset in time, i.e. reading from the starts or just reading new messages since the current moment. I'm implementing some Kafka readers that are not interested in any backed up messages, just the message that are arriving from the moment the readers attached. Any tips on how this could be done?

Thanks!

[2014-10-31 15:05] joestein opened #18 "0.8.2-beta not working"
commitOffsets needs () at the end now since we added an optional param to it

[ERROR] [10/31/2014 14:58:09.515] [default-akka.actor.default-dispatcher-5] [ActorSystem(default)] Uncaught error from thread [default-akka.actor.default-dispatcher-5] shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled
java.lang.NoSuchMethodError: kafka.consumer.ConsumerConnector.commitOffsets()V
	at com.s

[2014-11-16 02:23] sclasen opened #19 "warn or error when kafka consumer timeout > batch timeout"
there have been reports that this causes strange behavior

[2014-11-27 02:56] AlexeyRaga opened #20 "Scala 2.11 / Akka 2.3.6 artifact"
Hi Steve,

Any chance to have a build for Scala 2.11 / Akka 2.3.6 on maven anytime soon?

Regards,
Alexey.

[2014-12-10 17:36] sergmor opened #22 "Question: Consuming from start of a topic"
Hi Scott,
Cheers on the implementation it works great. Had a simple question, is there any configuration setting so that the AkkaConsumer will start at the beginning of a topic every time? (Something like the --from-beginning in the Kafka console java consumer)
Thanks!

[2014-12-11 12:33] kuhnen opened #23 "Unused state does not try again"
For some reason the first time the StreamFSM tries to get messages from kafka it does not find any message and goes to state Unused forever  (If I use CommitConfig(None, none).
My idea is to have a scheduler that should send a message (Continue) after some time, for exemple:

When(Unused)
  system.scheduler.schedule(10 seconds, 1 second, self,  Continue) //Just once

If you agree with this , I can

[2014-12-17 00:57] #22 closed, assigned to nobody

[2015-01-07 10:31] kuhnen commented on #20
It works for me,  I believe you can close this ticket

[2015-01-07 15:18] kuhnen commented on #18
I think you can close this :)

[2015-01-07 17:35] sclasen commented on #18
:+1:

[2015-01-07 17:35] #18 closed

[2015-01-07 17:35] sclasen commented on #20
:+1:

[2015-01-07 17:35] #20 closed

[2015-01-13 17:10] richiesgr opened #26 "Question : I try to use it but nothing ..."
Hi

I've try to use it but I can't get it working I mean that I get message from kafka only at the this time then I enter in this mode:
[test-akka.actor.default-dispatcher-3] INFO com.sclasen.akka.kafka.ConnectorFSM - at=created-streams
[test-akka.actor.default-dispatcher-3] INFO akka.actor.ActorSystemImpl - at=consumer-started
[test-akka.actor.default-dispatcher-5] INFO com.sclasen.akka.kafka.Con

[2015-01-13 17:17] sclasen commented on #26
Hmm, perhaps there is an off by one error. What happens if you use

`commitConfig = new CommitConfig(Some(10 seconds), Some(10), Timeout(10 second))`

also, is there any process sending messages to kafka?

[2015-01-13 17:18] sclasen commented on #26
also, what version are you using?

[2015-01-13 17:23] richiesgr commented on #26
Thanks for super quick help !!

using 0.9 from maven repo
try your commitConfig don't help

here is my log with debug
[test-akka.actor.default-dispatcher-6] INFO com.sclasen.akka.kafka.ConnectorFSM - at=created-streams
2015-01-13 19:21:51 DEBUG ClientCnxn:839 - Reading reply sessionid:0x14ae3aafd0c0028, packet:: clientPath:null serverPath:null finished:false header:: 16,4  replyHeader:: 16,453,0

[2015-01-13 17:24] sclasen commented on #26
OOh, sorry I think 0.0.9 is broken. .Can you try 0.0.10-SNAPSHOT from
oss.sonatype.  I am publishing 0.0.10 right now!!!

On Tue, Jan 13, 2015 at 9:23 AM, richiesgr <notifications@github.com> wrote:

[2015-01-13 17:25] sclasen commented on #26
0.0.10 should be live in just a few minutes

On Tue, Jan 13, 2015 at 9:24 AM, Scott Clasen <scott@heroku.com> wrote:

[2015-01-13 17:32] richiesgr commented on #26
Thanks I give it a try

[2015-01-14 11:09] richiesgr commented on #26
Thanks a lot for your help working now on 0.0.10

[2015-01-14 11:09] #26 closed

[2015-01-14 11:16] richiesgr opened #27 "Question about state on the stream"
Hi

Could you give me some help regarding the state that need to be used for the sync between my actor and yours.

StreamFSM.Processed = I've finished to process this message and must be sended back for each message.

But I can't use it because I receive the message in actor A process it in Actor B so could I use the StreamFSM.StartProcessing in A and send StreamFSM.Processed in B ?

Or is there o

[2015-01-14 11:42] kuhnen commented on #27
I believe what you need is
from inside ActorA

   ActorB forward !  message

then  ActorB will have the Stream sender as the sender()

2015-01-14 9:16 GMT-02:00 richiesgr <notifications@github.com>:

[2015-01-14 18:43] sclasen commented on #27
@kuhnen you are correct, except no `!` needed just `ActorB forward message`

Thanks!

[2015-01-14 18:43] sclasen commented on #23
#25 in process to resolve this.

[2015-01-14 18:44] sclasen commented on #17
@tnolet gonna close this one, feel free to reopen if this is still an issue

[2015-01-14 18:44] #17 closed

[2015-01-21 07:30] kiran-kumar opened #28 "Question about zero tolerance for message loss"
Thanks for building a nice akka-kafka tool. I have few questions,
We are using your tool to read data from Kafka and pass the messages read, to a cluster of nodes for processing.
If one of the node goes down during processing, we don't get an acknowledgement back from the node to the main actor to commit offsets.
For our use case we don't want to lose any messages unprocessed, and with high level

[2015-01-21 17:43] sclasen commented on #27
pls reopen if any further questions/issues

[2015-01-21 17:43] #27 closed

[2015-01-21 18:06] sclasen commented on #28
This is more of a general akka/akka-cluster question, around how to achieve at-least-once delivery rather than the default of akka, which is at-most-once.

There is no free lunch here, so you will have to do some bookkeeping to achieve your goals.

Assuming you are using the batch consumer here, but if not the same principles apply, the implementation may be slightly different.

The first thing yo

[2015-01-22 19:42] kiran-kumar commented on #28
Thanks a lot for your detailed explanation.
Appreciate your help

[2015-01-22 19:48] sclasen commented on #28
Cheers!

[2015-01-22 19:48] #28 closed

[2015-01-23 02:02] kiran-kumar opened #29 "Example in the readme not working"
I have downloaded the code and tried the example code mentioned in the readme file, I have no luck in running the sample program. Every time i start the program, it starts and doesn't consume any data from kafka.
Here are the logs i get when debug is enabled
[INFO] [01/22/2015 17:59:36.473] [test-akka.actor.default-dispatcher-2] [akka://test/user/$a] at=start
[INFO] [01/22/2015 17:59:37.743] [test

[2015-01-23 02:15] sclasen commented on #29
Sorry if that is unclear , it was just showing a full example of using the
client, you don't want to call stop till you are done consuming, if ever.

Feel free to send a PR with any clarification you think works

Thanks !

On Thursday, January 22, 2015, kiran-kumar <notifications@github.com> wrote:

[2015-01-23 08:17] kiran-kumar commented on #29
I have sent a pull request, commenting the line which is causing trouble and made a comment. Please take a look and let me know if it works

[2015-02-03 22:21] sclasen commented on #20
@AlexeyRaga @kuhnen  I just published `0.0.11-kafka-0.8.2.0-SNAPSHOT`  based on https://github.com/sclasen/akka-kafka/pull/30

If you have a chance let me know how it works

[2015-02-03 22:28] kuhnen commented on #20
nice Scott,  I am little bit busy because I just got a new job and I am
moving to Germany :)  (I am from brazil by the way).
But I will try take a look at it  this weekend,..  thanks a lot

2015-02-03 20:21 GMT-02:00 Scott Clasen <notifications@github.com>:

[2015-02-03 22:45] sclasen commented on #20
Thanks! no rush :)

On Tue, Feb 3, 2015 at 2:28 PM, Andre Kuhnen <notifications@github.com>
wrote:

[2015-02-04 16:12] kuhnen commented on #20
Hello Scott,  I just tested the new version  and it is seems to be working
perfect :)
Thanks

2015-02-03 20:45 GMT-02:00 Scott Clasen <notifications@github.com>:

[2015-03-06 15:48] salex89 opened #31 "StateTimeout with long processing"
Hello,

I'm using Kafka as a queue for some IO operations in a worker, and I have to assume that the operations could last sometimes up to 30-60 seconds. I've notices I am seeing a lot of StateTimeout messages in the log from akka-kafka then. I tried fiddling with the commit interval/timeout but no real luck. The behaviour changes a bit if I put the StreamFSM.Processed before or after the actual I

[2015-03-06 18:49] sclasen commented on #31
@salex89 I am assuming you are using the batch connector here?

can you give me an example of the log line you are seeing?

[2015-03-06 20:36] sclasen commented on #31
Also, if it is this line

https://github.com/sclasen/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/BatchActors.scala#L139

Then currently you will get 1 per sec, which is just a warning.

Feel free to send a PR to make the 1 second interval configurable if you are up for it!

https://github.com/sclasen/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/BatchActors.scala#L1

[2015-03-09 09:54] salex89 commented on #31
Hi, sorry for waiting.

No, I'm not using the batch connector, I'm using the "regular" one. I was in doubt which to use because I didn't find know on which criteria should I decide.

This is the message I am seeing:
`[WARN] [03/09/2015 10:47:52.702] [mca-worker-akka.actor.default-dispatcher-7] [akka://mca-worker/user/$c] state=Committing msg=StateTimeout drained=0 streams=1`

At some point in time

[2015-03-09 14:25] sclasen commented on #31
Ok, what commit config are you using?

On Monday, March 9, 2015, Aleksandar Stojadinovic <notifications@github.com>
wrote:

[2015-03-09 14:39] salex89 commented on #31
I'm using the default one, which I believe is:
` commitConfig = CommitConfig(Some(5 seconds), Some(10000), 5 seconds)` .

When I increase it, the message shows up later (again, expected, because the consumer checks more seldom). However, here what happens (if the commit interval is 30 seconds, and the work takes 25).

Three messages consumed -> first one is processed -> second is started being pro

[2015-03-09 15:57] sclasen commented on #31
The log warnings are benign, if they eventually stop. They are just there
to say 'hey Im still trying to commit', which ususally should be a short
interval. Though not in your case.

Perhaps you dont want to do commit after an interval, but instead after
just some number of messages?

`CommitConfig(None, Some(numOfMsgs), 5 seconds)`

Seems like since your processing takes a long time that you dont

[2015-03-10 08:38] salex89 commented on #31
Ok, thank you very much :+1: . Looks like everything is ok, I'll play a bit with the numbers and see what happens.

Btw. I really like the project, I'll keep an eye on it.

[2015-03-25 15:08] radekg opened #32 "Any reason for losing the key"
Akka kafka seems to be passing the message only : https://github.com/sclasen/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/Actors.scala#L203.
Is there a method to receive the key with a message?

[2015-03-25 15:26] sclasen commented on #32
If you specify a msgHandler you can sent on the full msgandmetadata or do
an arbitrary transform.

The default handler does as you observed and just sends on the msg.

https://github.com/sclasen/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/AkkaConsumer.scala#L149

https://github.com/sclasen/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/Actors.scala#L200

On Wednesday

[2015-03-25 23:21] radekg commented on #32
Great stuff. Thank you.

[2015-03-25 23:21] #32 closed

[2015-03-30 15:23] romangarcia opened #33 "StateTimeout after 1 message is processed"
I have a simple pipeline using non-batch consumer. I extract the message on ExtractActor, pass it along to TransformActor which generates N possible transformations, and these are passed along to LoadActor which performs the load (an elasticsearch cluster) and once all loads are confirmed, the StreamFSM.Procesed message is sent to original "sender" (the one who sent the message to ExtractActor.
I

[2015-03-30 15:33] romangarcia commented on #33
My ConsumerProps:

AkkaConsumerProps.forContext[String, RiskEventMessage](
          context,
          zkConnect,
          topic = cfg.topicName,
          group = cfg.group,
          streams = cfg.streams,
          keyDecoder = new StringDecoder(),
          msgDecoder = new RiskEventDecoder(),
          receiver = context.actorOf(Props(new EventsExtractActor(transformers, storage)), cfg.topi

[2015-03-30 16:28] sclasen commented on #33
Hi @romangarcia can you turn on debug logging and send along a more detailed log?

Thanks!

[2015-03-31 14:14] romangarcia commented on #33
Ignore this issue, it was a bug on my side (fyi, I was sending more-than-one Processed per message)

[2015-03-31 14:15] #33 closed

[2015-04-21 09:01] #31 closed

[2015-04-21 09:04] salex89 opened #34 "Consumer with a Router"
Does it make sense to extend the consumer with a router setting, i.e round robin? Because where I see it, we may need multiple instances of the same consumer if the processing logic allows it. For example some processing that is not quick and separate messages can be separately processed, so we might have 2+ consumers with the same group.

So, is it sensible to implement this, knowing Kafka and Ak

[2015-04-21 16:18] sclasen commented on #34
So, the ActorRef that you use to receive messages from the AkkaConsumer can certainly be a router, not sure if that is what you mean.

If you mean having the AkkaConsumer itself be a pool behind a router, then Im not sure that will buy you much.  Each actor in the router would have to own a subset of the streams, due to the way the underlying kafka connector and commits of offsets work.

Lets take

[2015-04-21 20:50] salex89 commented on #34
My idea is to increase throughput by consuming more messages in parallel. To be honest, I thought about the second one, the consumer being a router. Twelve hours ago that made sense in my head. Now I understand that it makes more sense making the ActorRef receiving messages from the consumer a router. But will that work considering the back-pressure? Will the consumer send a message to the next on

[2015-04-21 22:09] sclasen commented on #34
The consumer will send (number of streams * maxInFlight per stream)
messages before waiting for a StreamFSM.Processed.

So if you have a pool that goes slower than the consumer (almost certianly
you will) then each actor in the pool will have several messages in its
mailbox. The rate at which your pool send StreamFSM.Processed will match
the rate at which you are able to consume.

Just to clarify,

[2015-04-22 07:40] salex89 commented on #34
Yes, about the non-batch consumer :) . Thank you for the clarification. Maybe a google group or something should exist for these questions and/or discussions, I don't feel nice when opening issues for all sorts of things :) .

[2015-04-22 16:57] sclasen commented on #34
Hey no worries about opening issues, seems fine to me.

[2015-04-22 16:57] #34 closed

[2015-05-20 16:23] pocman opened #37 "Question : How can I consume my kafka topic as fast as possible ?"
Hi,

I'm using Kafka between ruby and scala and I noticed that my ruby HermannConsumer is consuming message faster than my AkkaConsumer.

I can set commitConfig = CommitConfig(commitInterval = Some(10 millis)) in kafkaProps but I'm not sure that it's the right thing to do.

How can I consume my kafka topic as fast as possible ?

[2015-05-21 08:43] pocman commented on #37
In other words, when producing a constant flux of message in my topic, my receiver is only receiving message every second.
How can I increase this rate ?

[2015-06-15 01:56] esammer opened #38 "No license explicitly stated"
We'd like to use this project but noticed no license was explicitly stated. I was hoping to convince you to declare a license. If you don't have a preference, ASF, BSD 2 or 3 clause, or MIT are preferable. ;)

Thanks!

[2015-06-18 08:47] xuwei-k commented on #38
https://github.com/sclasen/akka-kafka/blob/5f34baaf2cadb3cd5df59dd08d9e6a433f20cbea/build.sbt#L36-L42

[2015-07-25 01:13] jbweeks opened #39 "Race / off-by-one issue in BatchFSM? (Stuck temporarily in WaitingToSendBatch)"
Hi Scott,

We are running 0.1.0 on a large 48 core box, and the service keeps choking in BatchConnectorFSM in the WaitingToSendBatch state, no matter what the value of the BatchTimeout. Furthermore, when I increase the number of streams past a certain state (e.g. 16), the system spends all its time blocked on the LinkedBlockingQueue (even though the topic has 48 partitions):

"Archival-akka.actor.

[2015-07-25 01:33] jbweeks commented on #39
Logs with streams=6:

[WARN] [07/25/2015 01:31:51.784] [Archival-akka.actor.default-dispatcher-4] [akka://Archival/user/KafkaLogProcessor-prod.log.general-128922017278319960/prod.log.general.connector8922017278628763] state=WaitingToSendBatch msg=StateTimeout outstanding=4 streams=6
[WARN] [07/25/2015 01:31:52.175] [Archival-akka.actor.default-dispatcher-16] [akka://Archival/user/KafkaLogProcessor

[2015-08-12 14:01] sebastian-alfers opened #40 "Empty Queue"
I there away to continue the AkkaConsumer when the queue becomes empty?

DEBUG] [08/12/2015 15:57:06.364] [base-actor-system-akka.actor.default-dispatcher-3] [akka://base-actor-system/user/$a/stream0] stream=stream0 at=transition from=Processing to=Unused

in my case, it stops and even when the queue gets new messages, it does not continue
i tried with stop / start it keeps idle

[2015-09-16 12:57] ulejon opened #41 "Unable to cleanly stop AkkaConsumer"
I have an actor in which I create an AkkaConsumer.

    class ConsumerActor(topic: String) with Actor with ActorLogging {
        val akkaConsumer: AkkaConsumer[String, String] = createAkkaConsumer()

        private def createAkkaConsumer() = {
            val consumerProps = AkkaConsumerProps.forContext(
                context = context,
                zkConnect = "localhost:2181",

[2015-09-30 07:58] backender commented on #40
I assume ZK still holds an offset for your consumer and thus the consumer won't consume before your queue reaches the amount of messages higher than this offset.

See: https://github.com/sclasen/akka-kafka/issues/11

[2015-09-30 08:35] backender commented on #33
I have the same issue. Can you tell more about "more-than-one Processed per message"?

Here's my setup:
    new AkkaConsumer(AkkaConsumerProps.forSystem(
      system = system,
      zkConnect = config.getString("host") + ":" + config.getInt("port"),
      topic = config.getString("topic"),
      group = config.getString("group"),
      streams = config.getInt("streams"),
      keyDecoder = new De

[2015-10-05 08:49] backender commented on #33
@sclasen any idea?

[2015-10-05 14:15] romangarcia commented on #33
@backender My case, I believe, was "telling" the "sender" Actor the message "Processed" multiple times per message. i.e: A message arrived, I did the processing (index multiple documents to an ElasticSearch cluster), and, as per contract, I was sending the Processed message to the sender. This created some sort of inconsistency which made the system fail.

[2015-10-10 10:15] fabiofumarola commented on #33
@backender I got the same issue. I'm sure that the problem, as said by @backender, is related to the fact the a `StreamFSM.Processed` is send multiple time. What I did is moving the `sender ! StreamFSM.Processed` at the beginning and saving the failed messages to another kafka topic

[2015-10-21 12:20] mfirry commented on #13
+1

[2015-10-26 05:36] haritsE opened #42 "Batch consumer priority"
Hello,

Currently, I have several batch consumer running in my application. But some messages in certain batch consumer must be processed before messages in other batch consumer.
Is it possible to specify the priority of a batch consumer over the other? (e.g. process all message in this topic before other batch consumer process theirs)

[2015-12-14 13:08] backender opened #43 "ConsumerTimeoutException"
I see millions of Exceptions being catched here: https://github.com/sclasen/akka-kafka/blob/457a9ec6323b23c15affeb3cb182e811f574c830/src/main/scala/com/sclasen/akka/kafka/Actors.scala#L184

We're using the default consumer.timeout of 400ms at this point. Do I understand correctly, that if there is no message within a period of 400ms, the iterator will throw this exception? What is the best practic

[2015-12-14 16:37] sclasen commented on #43
@backender those exceptions are an expected part of normal operations. are they causing you any issue?

if you increase the timeout, your commit latencies will increase as well, since committing offsets has to wait for those iterator polls to time out, if the stream is not actively receiving messages.

[2015-12-14 16:39] sclasen commented on #42
@haritsE thats not part of this library, but I assume that simply using a priorty mailbox on your reciever actor would do what you want? http://doc.akka.io/docs/akka/2.4.1/scala/mailboxes.html#PriorityMailbox

[2015-12-14 16:40] sclasen commented on #41
if you are shutting down the actor system, I think you dont necessarily need to call stop on the akka consumer.

[2015-12-15 15:53] backender commented on #43
It does not particularly causes a problem–it's just that we inject exception listeners in our JVM's and the  ConsumerTimeoutException being raised go into the millions. So obviously I was wondering what's the reason for this.

Why was this choosing over let's say having a mutable state?

[2015-12-15 18:27] sclasen commented on #43
hi @backender  this is just the way the stock high-level consumer that ships with kafka works.  akka-kafka just wraps this consumer and orchestrates it so that there are no unprocessed messages in-flight before committing.

did you have an idea for how to do this without polling with a timeout?

if you have a topic where every partition sees regular traffic, and have the number of streams = the nu

[2015-12-16 09:03] backender commented on #43
hi @sclasen, I missed that this is kafka high-level consumer behaviour and not especially related to akka-kafka.
From what I've read (http://mail-archives.apache.org/mod_mbox/kafka-users/201408.mbox/%3CCACim9RkJ6+6jJKzP3UQKQPbsOUsboifBoySpOYPm=2RPp9XUcw@mail.gmail.com%3E) this is a downside this blocking iterator brings with.  This "flaw" is supposed to be fixed in 0.9.

You were right, I indeed h

[2015-12-16 09:03] #43 closed

[2015-12-16 23:40] sclasen commented on #43
:+1:

[2016-02-03 21:09] coreyauger commented on #37
I am having a similar issue.  Did you manage to find a solution to yours?  Thanks :)

[2016-02-03 21:16] sclasen commented on #37
When you commit every 10 milliseconds you are writing to zookeeper every 10 milliseconds.  Your commit interval should be much, much larger.  try 10 seconds?

[2016-02-03 21:17] sclasen commented on #37
and @pocman sorry for the huge lag, gmail started putting my github notifications in spam.

[2016-02-03 21:25] coreyauger commented on #37
Thanks for the reply @sclasen.  I seem to have about a 1 to 3 second delay before I receive a message to my receiver actor.

[code]

And then the ConsumerActor

[code]

Any idea where that would be occurring?   Thanks for your work :)

[2016-02-03 21:30] sclasen commented on #37
@coreyauger can you set the log level to DEBUG and send me the output?

[2016-02-03 21:30] #42 closed

[2016-02-03 21:30] #41 closed

[2016-02-03 21:32] sclasen commented on #39
long fixed no @jbweeks ?

[2016-02-03 21:32] #39 closed

[2016-02-03 21:32] #29 closed

[2016-02-03 22:02] coreyauger commented on #37
Hi @sclasen .. thanks again for your help in this.
I have put a small dump of the log file here
https://gist.github.com/coreyauger/0ce0b743c4e987218238

The log explodes fast as akka is logging "heartbeats" for the cluster and other things that turn my local log file into a mess.  I hope there is something in there that helps.

There are a lot of msgs similar to this
`stream=stream1 state=Unused m

[2016-02-03 22:29] sclasen commented on #37
This is helpful.  Things appear to be working as expected to me.

when you see things like this

[code]

it means that the underlying kafka consumer iterator `hasNext()` is returning false, meaning there are no messages to consume.  When this happens the stream goes into 'Unused' and will not attempt to consume again until the next commit.

What is your use case here? akka-kafka is designed more f

[2016-02-03 22:31] sclasen commented on #38
@esammer if still desired and the license in build.sbt is not sufficient I can add a license.md. Apache 2 is whats in the build.sbt

[2016-02-03 22:32] sclasen commented on #37
related https://github.com/sclasen/akka-kafka/issues/23

[2016-02-03 22:36] coreyauger commented on #37
There are a few use cases.. but one of which is IM or (chat) based messaging.. so low latency is certainly required for this.

In this case am I better to adapt a new kind of consumer or are you saying that I should not use kafka for this?

I found this
http://stackoverflow.com/questions/20520492/how-to-minimize-the-latency-involved-in-kafka-messaging-framework

which lead me to believe that new v

[2016-02-03 22:47] sclasen commented on #37
Well not sure about kafka being suitable for low latency, quote from the highest ranked answer on the link provided... `I wouldn't use Kafka for anything where latency needed to be consistenly less than 1-2 seconds.`

I suppose it depends on how you design and tune things, but generally I dont think akka-kafka is a good fit for a low-latency, low-throughput chat application.

How do the topics and

[2016-02-03 22:52] coreyauger commented on #37
I will take a look at this.  Would there be any interest if I submit a pr for another type of low latency consumer for this lib?

Or is this use case best left for my own lib?

Let me know Either way.  You help is much appreciate :)  Thanks again !

[2016-02-03 22:59] sclasen commented on #37
Sure, happy to take a look at a PR, please do!

On Wed, Feb 3, 2016 at 2:52 PM, Corey Auger <notifications@github.com>
wrote:

[2016-02-05 18:11] jbweeks commented on #39
Probably, haven't really worked on this in quite a while. I will reopen if I see it. Thanks!

[2016-02-07 19:15] coreyauger commented on #37
Hi @sclasen ,

I have built a initial actor that is working well for my use case.  It has been modelled from the Kafka HighLevel Consumer.
https://cwiki.apache.org/confluence/display/KAFKA/Consumer+Group+Example

Here is the code I have so far.
https://github.com/coreyauger/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/AkkaHighLevelConsumer.scala

Please take a look and if it is som

[2016-02-07 20:20] sclasen commented on #37
Thanks! I think you can get rid of the hasNext stuff, since it is only used
to avoid blocking, you can just loop on calling next() which will block
until messages arrive, which is fine in this usage.

Otherwise I fear the code will spin on hasNext and burn cpu

On Sunday, February 7, 2016, Corey Auger <notifications@github.com> wrote:

[2016-02-08 16:38] coreyauger commented on #37
That was indeed my original implementation.. but I continue to get the time-out exception.  There is most likely a setting that I can pass in for an infinite wait... I will have a look for that.  :)

[2016-02-08 19:21] sclasen commented on #37
Yeah, you will still have to handle timeout excetion in the next() call.
Which is probably good, you can then check if the consumer has been shut
down and exit.

On Mon, Feb 8, 2016 at 11:18 AM, Corey Auger <notifications@github.com>
wrote:

[2016-02-08 19:42] coreyauger commented on #37
adding this as a ref
http://mail-archives.apache.org/mod_mbox/kafka-users/201408.mbox/%3CCACim9RkJ6+6jJKzP3UQKQPbsOUsboifBoySpOYPm=2RPp9XUcw@mail.gmail.com%3E

[2016-02-08 19:54] coreyauger commented on #37
Since timeout and auto commit are required for the HighLevel Consumer to work.. would it be best to append these arguments when the actor is creating the config?  That way we can leave the settings intact for the other types of actors?

I plan to use the system with services that support both actors with different goals..

[2016-02-08 20:14] coreyauger commented on #37
Updated
https://github.com/coreyauger/akka-kafka/blob/master/src/main/scala/com/sclasen/akka/kafka/AkkaHighLevelConsumer.scala

[2016-02-09 16:38] sclasen commented on #37
Want to open a PR? easier to review/discuss.

On Mon, Feb 8, 2016 at 1:16 PM, Corey Auger <notifications@github.com>
wrote:

[2016-02-09 16:41] coreyauger commented on #37
Sounds good :)

[2016-02-16 09:23] haritsE commented on #42
Ah great, thanks @sclasen!

[2016-04-05 02:46] msaffitz opened #47 "Guidance Requested: Error Handling"
Hello,

Thanks for the great library.  I'm using the basic `AkkaConsumer` actor and am hoping you can provide guidance on error handling within the receive method.  Specifically, we're handling the messages and writing to a DB system.  Occasionally we receive an timeout from the underlying DB that manifests as an exception.  It appears that this then causes that message to not properly send a `Str

[2016-04-05 08:46] sclasen commented on #47
Hi Michael

Yes, you do need to handle all error cases.

The consumer only counts the number of outstanding messages and will hang
infinitely at commit time if you don't ack each message your actor had
received.

There is no way for the consumer to tell that you have processed each
message otherwise.

If an error in your processing is ok then you can send back an ack at that
time.

Thanks!

On Tue

[2016-04-06 04:16] msaffitz commented on #47
Thanks-- I really appreciate the guidance.

[2016-04-06 04:16] #47 closed, assigned to nobody

[2016-04-20 15:38] coreyauger opened #48 "Can AkkaConsumber inherit from a common base trait?"
I would like to have a common base for akka consumers... to allow for a generic way to process clean-up

ex:
 `private[this] val consumerRegistry = new ConcurrentHashMap[String, AkkaConsumerBase[String, _]]`
 `

[code]

Thoughts ?

[2016-04-20 15:59] sclasen commented on #48
seems legit, want to do a PR?

[2016-04-20 16:27] coreyauger commented on #48
Sounds good :)

[2016-04-26 00:05] dtboctor opened #49 "New Kafka .9 consumer"
Is there any plan to make this work with the .9 consumer? I know the architecture of that consumer is much different.

[2016-04-26 20:15] sclasen commented on #49
So, since this library was written before both kafka 0.9 and akka-streams 1.0 it looks the way it does.

If I were going to re-write an akka-kafka client these days, I would certianly want to use 0.9 and also akka-streams which has a much more advanced backpressure mechanism, as well as more type safety.

Im not sure there is a way to make akka-kafka support .9 without breaking .8 support? Do you

[2016-04-29 14:23] sclasen commented on #49
Maybe this is already  there? https://github.com/akka/reactive-kafka

[2016-05-03 20:43] eugenemiretsky opened #50 "Multiple workers actors"
There are many stream consumer actors created (FSMStreams), but only one worker actor - this essentially turns any non-trivial worker into a bottle neck - would it make sense to have a consumer actor per stream?

[2016-05-03 21:03] sclasen commented on #50
You only need provide an `ActorRef` to any of the Consumers in this library. They can be backed by a standard actor or any of the existing akka routers or other pooling mechanism.

In addition the actor ref provided to this library doesnt necessarily need to be the actor that is sending the `StreamFSM.Processed` acknowledgements back to the consumer, any actor that gets forwarded a message from th

[2016-05-05 17:55] msaffitz opened #51 "`unhandled event StartProcessing` Warning"
We're seeing the following message in our logs:

`[WARN] [2016-05-05 17:40:35,793] [EventService-akka.actor.default-dispatcher-12] c.s.a.k.StreamFSM akka://EventService/user/$b/stream0: unhandled event StartProcessing in state Draining`

Is this an error we should be concerned about?  How should we go about debugging?

Thanks in advance!

[2016-05-09 20:16] eugenemiretsky opened #52 "Specifying multiple topic"
Would it make sense to allow passing a Map of <Topic, Stream #> to create a consumer for multiple topics?
It's currently possible to do that by passing a TopicFilter, but it would be nice to have controlle over the number of streams for each topic

[2016-05-09 20:37] sclasen commented on #52
pretty easy in userspace, if I understand your approach?

[code]

happy to take a PR that makes this easier if you have something in mind.

Cheers!

[2016-05-10 17:21] dtboctor commented on #49
Yeah, I was actually looking at this now.

[2016-05-17 17:00] eugenemiretsky opened #53 "Version in sonatype.org"
I'm using the 0.2.1 version from Sonatype (resolvers += "Sonatype OSS" at "https://oss.sonatype.org/content/repositories/releases"), and getting some weird errors.

However when I build my own 0.2.2-SNAPSHOT version everything works find. Looking the at the commit history, nothing has changed between the two versions.

Any idea what's wrong with the Sonatype build?

[2016-05-17 17:08] sclasen commented on #53
No idea, can you try maven central and see if the same thing happens?

What error do you see?

[2016-05-17 19:41] eugenemiretsky commented on #53
Maven doesn't work either.
I get:
 java.lang.NoSuchMethodError: akka.pattern.AskableActorRef$.$qmark$default$3$extension(Lakka/actor/ActorRef;Ljava/lang/Object;)Lakka/actor/ActorRef

[2016-05-17 20:33] sclasen commented on #53
Are you perhaps using a different version of akka at runtime then the project was built with?

[2016-08-05 04:22] carneles commented on #17
Hi @sclasen,

I found this post when I'm trying to find the answer of my problem. So basically, this is the situation I face:
I have many akka-kafka implementation in the system, most of them, read the message from the beginning (set the "auto.offset.reset = smallest" in the configuration file). However, there is one implementation that should only read the latest message (ignore the old messages)

[2016-08-05 16:21] sclasen commented on #17
Have you tried creating a seperate actor system with a seperate config, then you could configure like is described here, https://github.com/sclasen/akka-kafka#configure, but passing a different conf file in.

How is your code different than the test here?  https://github.com/sclasen/akka-kafka/blob/master/src/it/scala/com/sclasen/akka/kafka/NonCommitingConsumerSpec.scala

Never got feedback from t

[2016-11-15 06:13] kuizhang opened #55 "Question, how to set SupervisorStrategy for StreamFSM?"
Pardon me for English is not my primary language.

We have size limitation on the messages so that StreamFSM.hasNext() will receive a MessageSizeTooLargeException when encountering a too large message. The default SupervisorStrategy behavior is simply restart the process. Since nothing changed the process gets stuck with this ill message forever.

We'd like to recover this error by moving offset t

[2017-01-11 18:22] christophercampbell opened #56 "NPE in BatchConnectorFSM"
We get an occasional NullPointerException in the BatchConnectorFSM, and then all consuming halts. There is no obvious way to setup a supervisor to restart?

[code]

[2017-05-24 11:43] artmoskvin opened #57 "What exactly is outstanding?"
Can you please tell me what exactly outstanding means? Cause after some time of consuming I start receiving messages like: state=WaitingToSendBatch msg=StateTimeout outstanding=1 streams=8

[2017-05-24 14:18] sclasen commented on #57
I believe it means that your reciever actor has not sent a `BatchConnectorFSM.BatchProcessed` for the previous batch, and as such the Batch Connector is holding on to the subsequent batch.

[2017-05-26 08:51] artmoskvin commented on #57
@sclasen Got it. Thanks!

[2017-05-26 08:51] #57 closed, assigned to nobody